node_modules
.next
out
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
x_post_video.mp4
video_frames
public/images/*.png
!public/images/niulai-sketch-transparent.png
